div {
  margin: 0;
}

.circle {
  width: 2vw;
  height: 2vw;
  max-width: 24pt;
  max-height: 24pt;
  min-width: 15pt;
  min-height: 15pt;
  border-radius: 50%;
  
  display: inline-block;
  margin: 0.5pt;

  cursor: pointer;
}

.orange-circle {
  background-color: #F79F1A;
  border: 2pt solid #F79F1A;
}

.orange-outline {
  border: 2pt solid #F79F1A;
  background-color: transparent;
}

.dark-orange-circle {
  background-color: #FF5F01;
  border: 2pt solid #FF5F01;
}

.dark-orange-outline {
  border: 2pt solid #FF5F01;
  background-color: transparent;
}

