
.circle {
  width: 1.8vw;
  height: 1.8vw;
  max-width: 24pt;
  max-height: 24pt;
  min-width: 15pt;
  min-height: 15pt;
  border-radius: 50%;

  border: 1.5pt solid #FF5F01;
  background-color: transparent;
  
  display: inline-block;
  margin: 0.08vw;

  cursor: pointer;
}

.question-active {
  background-color: #FF5F01;
}

.cover-active {
  background-color: #EA001B;
  border-color: #EA001B;
}

.cover-nonactive {
  border-color: #EA001B;
}

