<div class="container">

  <div class="square white frame">
      <div routerLink="/register" class="content button flex-box">
        <span class="helper"></span><img class="add-icon center" src="../../assets/img/add-icon.png">
        <p class="add-text">Add launchpad</p>
      </div>
  </div>

  <div class="square orange" *ngFor="let launchpad of launchpads">
      <div routerLink="innovation-brief/{{launchpad.$key}}/1" class="content button">

        <div class="project">
          <img class="icon v-align" src="../../assets/img/project-icon.png"><p class="project-name v-align">{{ launchpad.project }}</p>
        </div>
        
        <div>
          <img class="icon-small v-align" src="../../assets/img/client-icon.png"><p class="client-name v-align">{{ launchpad.client }}</p>
        </div>

        <div *ngIf="launchpad.complete" class="status-container">
          <div class="circle-green v-align"></div>
          <p class="status-text v-align">Ready for review</p>
        </div>

        <div *ngIf="!launchpad.complete" class="status-container">
          <div class="circle-yellow v-align"></div>
          <p class="status-text v-align">In progress</p>
        </div>

        <div routerLink="/edit/{{launchpad.$key}}" class="edit-container">
          <img class="edit-icon" src="../../assets/img/edit-icon.png">
        </div>


      </div>
  </div>
</div>