

p {
  margin: 0;
  color: white;
}

.edit-icon {
  width: 19pt;
}

.helper {
  display: inline-block;
  vertical-align: middle;
}

.frame {
  text-align: center; 
  margin: 1em 0;
}

.add-text {

}

.button {
  cursor: pointer;
}

.add-icon {
  width: 30%;
  vertical-align: middle;
}

.project {
  margin-bottom: 6pt;
}

.icon {
  width: 13pt;
  margin-right: 6pt;
}

.icon-small {
  width: 11pt;
  margin-right: 6pt;
}

.project-name {
  font-weight: bold;
  font-size: 1.5em;
}

.client-name {
  font-size: 1.1em;
}

.container {
  width: 70%;
  margin: 20pt auto;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    min-width: 180pt;
    min-height: 100pt;
    padding-bottom : 22%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.orange {
  background-color:#F5A623;
}

.white {
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
}

.content {
  position:absolute;
  height:100%; /* = 100% - 2*5% padding */
  width:100%; /* = 100% - 2*5% padding */
  padding: 5%;
    
}

.status-container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5%;
}

.edit-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5%;
}

.circle-green {
  border-radius: 50%;
  background-color: #069F00;
  width: 0.8vw;
  height: 0.8vw;
  display: inline-block;
}

.circle-yellow {
  border-radius: 50%;
  background-color: #FFEB00;
  width: 0.8vw;
  height: 0.8vw;
  display: inline-block;
}

.v-align {
  display: inline-block;
  vertical-align: middle;
}

.button:hover {
  background-color: #FF5F01
}

.flex-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  align-content: center;
}
