<div class="background">
  <div class="wrapper">
    <img class="logo center" src="../../assets/img/logo.png">

    <form autocomplete="off" novalidate class="login-form" [formGroup]="form">

        <input placeholder="Username" class=" center input-textfield rounded" name="username" formControlName="username">

        <input placeholder="Password" class="center input-textfield rounded" name="password" formControlName="password" type="password">

        <button class="center button-primary rounded button-large" (click)="login()">Login</button>

    </form>
  </div>

</div>