.alert-text{
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

.alert{
  text-align: center;
  min-width: 30%;
  min-height: 50%;
  visibility: hidden;
  /*background-color: #EA001B;*/
}

.cell-container{
  margin-top: 70pt;
  overflow: auto
}

.cell-container img {
  display: block;
}

.cell-content {
  margin-left: 8pt;
}

.cell-icon {
  width: 17pt;
  float: left;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  align-content: center;
  /*margin: 0pt 20pt;*/
}

.show-alert{
  visibility: visible;
}


#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.wrap {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}

.wrapper {
  margin-top: 100pt;
  margin-bottom: 80pt;
}

.logo {
  width: 45%;
  min-width: 190pt;
  margin-bottom: 40pt;
}


.button-primary:disabled {
  color: #7B7B7B;
  background-color: #8E8E8E;
}

