.wrapper {
  margin-top: 150pt;
  margin-bottom: 35pt;
}

.logo {
  width: 45%;
  min-width: 190pt;
  margin-bottom: 40pt;
}

.login-button {
  width: 30%;
  min-width: 180pt;
  min-height: 32pt;
  padding: 1%;
}