a {
  color: black;
  font-size: 1.3em;
}

.wrapper {
  margin: 8pt 0;
  width: 24%;
  min-width: 370pt;
}

.delete-button {
  background-color: transparent;
  border: 1pt solid black;
  padding: 0 4pt;
  margin: 0 5pt;
  float: right;

  font-size: 1.3em;
}