a {
  color: black;
  font-size: 1.3em;
}

.wrapper {
  border-bottom: 1pt solid lightgray;
  padding: 5pt;
  margin: 8pt 0;
  width: 24%;
  min-width: 370pt;
}

.delete-button {
  background-color: transparent;
  border: none;
  float: right;
}

.delete-img {
  width: 12pt;
}