<div>
  <div>
    <h3>
      Why do you want/need to run an innovation event?
    </h3>
    <h4>
      A short summary on why you want to run a Launchpad Event. What is the background to the engagement, what is the business/customer need, what is the hoped for outcome from the event?
    </h4>
    <p>{{ ibr.a_1 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_1_files'"></uploader-list>
  </div>

  <div>
    <h3>
      What have you observed/learnt to decide that there is a problem?
    </h3>
    <h4>
      The source could be industry trends, internal data analysis, some key market insights or competitor analysis. Please provide links to the relevant decks that support your assertion.
    </h4>
    <p>{{ ibr.a_2 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_2_files'"></uploader-list>
  </div>

  <div>
    <h3>
      Why is this a problem for your business and/or the customer?
    </h3>
    <h4>
      How does the issue that you have observed impact the customer and/or your business? Please provide quantitative proof if possible
    </h4>
    <p>{{ ibr.a_3 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_3_files'"></uploader-list>
  </div>

  <div>
    <h3>
      Who is the customer? Describe the customers that are being affected by this problem that you want to help.
    </h3>
    <h4>
      Detail the attributes of your sweet spot customer? Why are they your target segment? How do you distinguish this segment from other customer segments? Please provide background market/customer research as needed which support your statements.
    </h4>
    <p>{{ ibr.a_4 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_4_files'"></uploader-list>
  </div>

    <div>
    <h3>
      If this problem was solved why would it be good for this customer?
    </h3>
    <h4>
      What is the key benefit(s) of your proposed solution?
    </h4>
    <p>{{ ibr.a_5 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_5_files'"></uploader-list>
  </div>

    <div>
    <h3>
      Why is this a problem for your business and/or the customer?
    </h3>
    <h4>
      How does the issue that you have observed impact the customer and/or your business? Please provide quantitative proof if possible
    </h4>
    <p>{{ ibr.a_6 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_6_files'"></uploader-list>
  </div>

      <div>
    <h3>
      If this problem was solved why would it be good for your business?
    </h3>
    <h4>
      What is the market opportunity for the business if this problem is solved?
      You might address questions such as...
      • What type of competitive advantage (if any) would your business derive if this problem was solved?
      • Will you acquire new customers? How?
      • Will it create a new revenue source? How?
      • Will it positively boost the company brand?
      • Are there any process efficiencies to be gained?
    </h4>
    <p>{{ ibr.a_7 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_7_files'"></uploader-list>
  </div>

      <div>
    <h3>
      Do you have an existing service/product that is currently trying to tackle the problem?
    </h3>
    <h4>
      If so, why do you think it is not solving the problem adequately? What do customers like/dislike about this current offering? Don’t forget to capture what is working in your current offering! As always it’s useful to provide any supporting research on what works/doesn’t work with the existing solution.
    </h4>
    <p>{{ ibr.a_8 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_8_files'"></uploader-list>
  </div>

      <div>
    <h3>
      Is there an existing solution/offering you ADMIRE that is
      attempting to solve the problem?
    </h3>
    <h4>
      How are your local competitors tackling this problem? Have you seen/heard of anyone in a different industry/geography that is tackling this problem well? Do you have any competitor/market research in this area? It’s ok just to share examples of services you’ve liked with explanations on what you liked/disliked.
    </h4>
    <p>{{ ibr.a_9 }}</p>
    <uploader-list [launchpad_id]="launchpad_id" [tag_id]="'a_9_files'"></uploader-list>
  </div>
</div>