<div class="container">
  <h1>Market</h1>
  <form #marketForm="ngForm">
    <div class="form-group">
      <label for="q7">
        <h3>
          If this problem was solved why would it be good for your business?
        </h3>
        <h4>
          What is the market opportunity for the business if this problem is solved?
          You might address questions such as...
          • What type of competitive advantage (if any) would your business derive if this problem was solved?
          • Will you acquire new customers? How?
          • Will it create a new revenue source? How?
          • Will it positively boost the company brand?
          • Are there any process efficiencies to be gained?
        </h4>
      </label>
      <input #answer7 value="{{ ibr.a_7 }}" type="textarea" class="form-control" id="q7" required name="q7">
    </div>
    <div class="form-group">
      <label for="q8">
        <h3>
          Do you have an existing service/product that is currently trying to tackle the problem?
        </h3>
        <h4>
          If so, why do you think it is not solving the problem adequately? What do customers like/dislike about this current offering? Don’t forget to capture what is working in your current offering! As always it’s useful to provide any supporting research on what works/doesn’t work with the existing solution.
        </h4>
      </label>
      <input #answer8 value="{{ ibr.a_8 }}" type="textarea" class="form-control" id="q8" required name="q8">
    </div>
    <div class="form-group">
      <label for="q9">
        <h3>
          Is there an existing solution/offering you ADMIRE that is attempting to solve the problem?
        </h3>
        <h4>
          How are your local competitors tackling this problem? Have you seen/heard of anyone in a different industry/geography that is tackling this problem well? Do you have any competitor/market research in this area? It’s ok just to share examples of services you’ve liked with explanations on what you liked/disliked.
        </h4>
      </label>
      <input #answer9 value="{{ ibr.a_9 }}" type="textarea" class="form-control" id="q9" required name="q9">
    </div>
    <button (click)="createIBR(answer7.value, answer8.value, answer9.value); setIBR(); exitForm();">Submit</button>
  </form>
</div>