<div class="container">
	<h1>Market</h1>
	<form #marketForm="ngForm">
		<div class="form-group">
			<label for="q7">
				<h3>
					If this problem was solved why would it be good for your business?
				</h3>
				<h4>
					What is the market opportunity for the business if this problem is solved?
				</h4>
			</label>
			<input type="textarea" class="form-control" id="q7" required name="q7">
		</div>
		<div class="form-group">
			<label for="q8">
				<h3>
					If this problem was solved why would it be good for this customer?
				</h3>
				<h4>
					What is the key benefit(s) of your proposed solution?
				</h4>
			</label>
			<input type="textarea" class="form-control" id="q8" required name="q8">
		</div>
		<div class="form-group">
			<label for="q9">
				<h3>
					Why is this a problem for your business and/or the customer?
				</h3>
				<h4>
					How does the issue that you have observed impact the customer and/or your business? Please provide quantitative proof if possible
				</h4>
			</label>
			<input type="textarea" class="form-control" id="q9" required name="q9">
		</div>
		<button>Submit</button>
	</form>
</div>