<p>Add optional supporting documents</p>

<!-- <label for="upload-file" class="upload-file rounded button-primary">Testing</label>

<input #input_elem id="upload-file" type="file" name="{{ tag_id }}" (change)="detectFiles($event)" >

 -->

<input #input_elem type="file" name="file" id="file" class="input-file" (change)="detectFiles($event)">
<label for="file" [innerHtml]="label_text">
</label>

<button class="upload-button rounded button-primary" type="button" (click)="upload($event)" [disabled]="!selectedFiles">Upload</button>

<div class="progress">
  <div [style.width.%]="currentUpload?.progress" *ngIf="currentUpload?.progress != 100 || currentUpload?.progress != 0" class="progress-bar"></div>
</div>


<!-- 
<div *ngIf="currentUpload">
  {{ currentUpload?.progress }}% Complete
</div> -->

<uploader-list [tag_id]="tag_id"></uploader-list>

<!-- <div *ngFor="let upload of (uploads$ | async)">
  <strong>{{ upload.name }}</strong>
  <button (click)="deleteUpload(upload)">Delete</button>
</div> -->
