<div [hidden]="launchpad_id">
  <p>Add optional supporting documents</p>
  <input #input_elem type="file" name="file" id="file" class="input-file" (change)="detectFiles($event)">
  <label for="file" [innerHtml]="label_text">
  </label>

  <button class="upload-button rounded button-primary" type="button" (click)="upload($event)" [disabled]="!selectedFiles">Upload</button>

  <div class="progress">
    <div [ngClass]="{'progress-bar-complete': currentUpload?.progress === 100}" [style.width.%]="currentUpload?.progress" class="progress-bar"></div>
  </div>
</div>


<!-- 
<div *ngIf="currentUpload">
  {{ currentUpload?.progress }}% Complete
</div> -->

<uploader-list [launchpad_id]="launchpad_id" [tag_id]="tag_id"></uploader-list>

<!-- <div *ngFor="let upload of (uploads$ | async)">
  <strong>{{ upload.name }}</strong>
  <button (click)="deleteUpload(upload)">Delete</button>
</div> -->
