p {
  color: gray;
  font-weight: bold;
  font-size: 1.4em;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + label {

  font-weight: normal;

  color: black;
  font-size: 1.3em;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  padding: 7pt 10pt;
  text-align: center;
  min-width: 93pt;
}

.input-file + label * {
  pointer-events: none;
}

/*.input-file:focus + label,
.input-file + label:hover {
  background-color: #F79F1A;
}
*/
.upload-button {
  color: black;
  font-weight: normal;
  font-size: 1.3em;
  padding: 7pt 15pt;
  width: 82pt;
}

.progress {
  width: 24%;
  min-width: 370pt;
  background: white;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 4pt;
}

.progress-bar {
  height: 12px;
  /*background-image: linear-gradient(to bottom);*/
  transition: 0.4s linear;
  transition-property: width;
  background-color: #F79F1A;
  box-shadow: none;
}

