
h3 {
  font-weight: bolder;
  font-size: 3em;
  text-align: center;

  margin: 100pt auto 20pt;
  width: 100%;
  max-width: 550pt;
  min-width: 300pt;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.wrap {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 220px auto 20pt;
    padding: 0px;
}

.background {
  width: 100%;
}

.clear {
  height: 50pt;
}

.logo {
  width: 21%;
  min-width: 100pt;
  margin-bottom: 17pt;
}

.question-form-wrapper {
  margin: 0pt 2% 0pt 5%;
}

.button-container {
  margin-top: 80pt;
  margin-bottom: 140pt
}

.submit-button {
  background-color: #EA001B;
}

.h-center{
  margin: 10pt auto;
  display: block;
}

.right {
  float: right;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.space {
  height: 10pt;
}

.wrapper {
  margin-top: 100pt;
  margin-bottom: 80pt;
  margin: 100pt 35% 80pt 35%;
}

/*smartphones*/
@media screen and (min-device-width: 320px) and (max-device-width: 600px){
  .wrap {
    margin: 10px auto;
  }

  .wrapper {
    margin-top: 35%;
    margin-bottom: 5%;
    margin: 28% 3% 5% 3%;
  }

/*  h3{
    margin-left: 5pt;
    margin-right: 5pt;
  }*/

}

/*ipads*/
@media screen and (min-device-width: 768px) and (max-device-width: 1000px) {
  
  .wrapper {
    margin-top: 35%;
    margin-bottom: 5%;
    margin: 28% auto 5% ;
  }

  .wrap {
    margin: 50px auto;
  }

}