
<div class="background">

  <img class="logo" src="../assets/img/logo-black.png">

  <div class="question-form-wrapper">

    <h3>Are you ready to submit your Innovation Brief responses?</h3>

    <div class="button-container">
      <button (click)="submit()" class="button-primary button-large rounded submit-button">Submit</button>
      <button (click)="prev()" class="button-primary button-large rounded submit-button">Previous</button>
    </div>

    <div class="clearfix">
      <div class="right">
        <nav-bubbles [num_bubbles]="num_bubbles"></nav-bubbles>
      </div>
    </div>

    <div class="space"> </div>

  </div>

</div>
