<nav-bar></nav-bar>
<div class="background">

  <div class="wrap">

    <h3>Are you ready to submit your Innovation Brief responses?</h3>

    <div class="button-container">
      <button (click)="submit()" class="button-primary button-large rounded submit-button h-center">Submit</button>
      <button (click)="save()" class="button-primary button-large rounded h-center">Save &amp; Logout</button>
    </div>

    <div class="space"> </div>

  </div>

</div>
<nav-footer></nav-footer>

<div id="bg">
  <img src="../../assets/img/backgrounds/question-form-background.png">
</div>