<nav-bar></nav-bar>
<div class="background">

  <div class="question-form-wrapper">

    <h3>Are you ready to submit your Innovation Brief responses?</h3>

    <div class="button-container">
      <button (click)="submit()" class="button-primary button-large rounded submit-button">Submit</button>
      <button (click)="submit()" class="button-primary button-large rounded submit-button">Save for later</button>
      <button (click)="prev()" class="button-primary button-large rounded submit-button">Previous</button>
    </div>

    <div class="space"> </div>

  </div>

</div>
