nav {
  transition: background-color 0.3s ease-out;
  background-color: transparent;
  width: 100%;
  padding-top: 8pt;
  padding-bottom: 8pt;
}

a {
  font-size: 1.6em;
  color: black;
}



.logout {
  color: black;
  text-align: right;
}

.bubbles {
  padding-top: 7pt;
}

.logo {
  min-width: 100pt;
  cursor: pointer;
}

.scrolling {
  position: fixed;
  top: 0;
  z-index: 10;
}

.right {
  float: right;
  padding-top: 4pt;
}

.left {
  float: left;
}

  
.v-align {
  display: inline-block;
}

.page-scroll-header {
  transition: background-color -webkit-box-shadow -moz-box-shadow box-shadow 0.3s ease-out;
  background-color: white !important;
  -webkit-box-shadow: 0 0px 5px #595959;
  -moz-box-shadow: 0 0px 5px #595959;
  box-shadow: 0 0px 5px #595959;
}

.page-scroll-logo {
  transition: background-color 0.4s ease-out;
}

.page-scroll-logout {
  color: black;
  transition: background-color 0.4s ease-out;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  align-content: center;
  margin: 0pt 20pt;
}

.side {
  width: 18%;
  align-self: center;
}

.middle {
  /*flex-grow: 3;*/
  width: 64%;
  align-self: center;
}

