<nav-bar></nav-bar>
<div class="background">
  <div class="">
<!--   <img  routerLink="/innovation-brief" class="logo" src="../assets/img/logo-black.png"> -->

    <div class="question-form-wrapper">
      <section class="question-container">
        <h3>{{ question.type }}</h3>
        <h4>{{ question.question }}</h4>
        <h5>{{ question.description }}</h5>
        <textarea class="input-textarea" [disabled]="launchpad_id" [(ngModel)]="response" (blur)="updateAnswer()"></textarea>
      </section>

      <section class="uploader-wrapper">
        <uploader [launchpad_id]="launchpad_id" [tag_id]="uploader_tag"></uploader>
      </section>

      <!-- <button class="rounded button-primary nav-button" *ngIf="question_id != 1" (click)="previous()">Prev</button>
      <button class="rounded button-primary nav-button" *ngIf="question_id != 11 && !launcpad_id" (click)="next()">Next</button> -->


    </div>
  </div>
</div>
<nav-footer></nav-footer>