<nav-bar></nav-bar>
<div class="background">
  <div *ngIf="question">

    <div class="question-form-wrapper">
      <section class="question-container">
        <h3>{{ question.type }}</h3>
        <h4>{{ question.question }}</h4>
        <h5>{{ question.description }}</h5>
        <textarea class="input-textarea" [disabled]="launchpad_id" [(ngModel)]="response" (blur)="updateAnswer()"></textarea>
      </section>

      <section class="uploader-wrapper">
        <uploader [launchpad_id]="launchpad_id" [tag_id]="uploader_tag"></uploader>
      </section>

    </div>
  </div>
</div>
<nav-footer></nav-footer>