<div class="container">
	<h1>Customer</h1>
	<form #customerForm="ngForm">
		<div class="form-group">
			<label for="q4">
				<h3>
					Who is the customer? Describe the customers that are being a ected by this problem that you want to help.
				</h3>
				<h4>
					Detail the attributes of your sweet spot customer? Why are they your target segment? How do you distinguish this segment from other customer segments? Please provide background market/customer research as needed which support your statements.
				</h4>
			</label>
			<input #answer4 type="textarea" class="form-control" id="q4" required name="q4">
		</div>
		<div class="form-group">
			<label for="q5">
				<h3>
					If this problem was solved why would it be good for this customer?
				</h3>
				<h4>
					What is the key benefit(s) of your proposed solution?
				</h4>
			</label>
			<input #answer5 type="textarea" class="form-control" id="q5" required name="q5">
		</div>
		<div class="form-group">
			<label for="q6">
				<h3>
					Why is this a problem for your business and/or the customer?
				</h3>
				<h4>
					How does the issue that you have observed impact the customer and/or your business? Please provide quantitative proof if possible
				</h4>
			</label>
			<input #answer6 type="textarea" class="form-control" id="q6" required name="q6">
		</div>
		<button (click)="passAnswers(answer4.value, answer5.value, answer6.value); nextScreen();">Next</button>
	</form>
</div>