<div class="background">
  <section>
    <img routerLink="/innovation-brief" class="logo" src="../../assets/img/logo.png">
    <div class="header-content">
      <h2>Innovation Challenge Statement</h2>
    </div>

    <div class="button-container">
      <button class="button-primary button-medium rounded " routerLink="/innovation-brief/9">Go Back</button>
      <button class="button-primary button-medium rounded" routerLink="/innovation-brief/10">Continue</button>
    </div>

    <div class="down-container">
      <h4>Guidance</h4>
      <img (click)="scrollTo()" class="center down-button" src="../../assets/img/down-button.png">
    </div>

  </section>


  <section id="guidance">
    <div class="container">
      <h3>Guidance</h3>

      <p>
        The definition of the problem will be the focal point of all your problem-solving efforts. Therefore it makes sense to devote as much attention and dedication to the problem definition as to the solutions that will follow.
      </p>

      <p>
        Every problem is an opportunity for design. By framing your challenge as a “How Might We” question, you’ll set yourself up for an innovative solution. We use the How Might We format because it suggests that a solution is possible and because they offer you the chance to answer them in a variety of ways.
      </p>

      <p>
        The statement ‘How Might We...’ works due to simple semantics. ‘How’ assumes that there are solutions out there, so it provides confidence. ‘Might’ suggests that the group can put ideas out there that might work or might not - either way it is ok. Lastly, ‘We’ suggests the group is going to do it together and build on each other’s ideas.
      </p>

    </div>
  </section>

  <section id="footer">
    <div class="button-container">
      <button class="button-primary button-medium rounded " routerLink="/innovation-brief/9">Go Back</button>
      <button class="button-primary button-medium rounded" routerLink="/innovation-brief/10">Continue</button>
    </div>
  </section>

</div>