/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: MarkPro;
  font-weight: bold;
  src: url(./assets/fonts/MarkPro-Bold.otf);
}

@font-face {
  font-family: MarkPro;
  font-weight: bolder;
  src: url(./assets/fonts/MarkPro-Black.otf);
}

/*@font-face {
  font-family: MarkPro;
  font-weight: lighter;
  src: url(./assets/fonts/MarkPro-Book.otf);
}*/

@font-face {
  font-family: MarkPro;
  font-weight: normal;
  src: url(./assets/fonts/MarkPro.otf);
}


html * {
  font-family: MarkPro, sans-serif !important;
  font-weight: normal;
}

body {
 background-color: white; 
}

button:focus {
  outline-width: 0;
}

input:focus {
  outline-width: 0;
}

.wrapper {
  margin: 2% 2% 6% 4%;
}

.center {
  display: block;
  margin: 5pt auto;
}

.input-textfield {
  min-width: 180pt;
  min-height: 30pt;
  width: 30%;
  border: none;
  padding: 1%;
  text-align: center;

  font-size: 1.3em;
}

.button-primary {
  color: white;
  background-color: #F79F1A;
  border: none;
}

.rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.button-large {
  width: 30%;
  min-width: 180pt;
  min-height: 32pt;
  padding: 1%;

  font-size: 1.3em;
}

.nav-button {
  color: white;
  width: 120pt;
  padding: 7pt 15pt;
  font-size: 1.3em;
}