/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: MarkPro;
  font-weight: bold;
  src: url(./assets/fonts/MarkPro-Bold.otf);
}

@font-face {
  font-family: MarkPro;
  font-weight: bolder;
  src: url(./assets/fonts/MarkPro-Black.otf);
}

/*@font-face {
  font-family: MarkPro;
  font-weight: lighter;
  src: url(./assets/fonts/MarkPro-Book.otf);
}*/

@font-face {
  font-family: MarkPro;
  font-weight: normal;
  src: url(./assets/fonts/MarkPro.otf);
}

* {
  margin: 0;
  padding: 0;
}

html * {
  font-family: MarkPro, sans-serif !important;
  font-weight: normal;

}

body {
 background-color: white; 
 /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;
}

*:focus {
  outline: none;
}

.wrapper {
  margin: 2% 2% 6% 4%;
}

.center {
  display: block;
  margin: 5pt auto;
}

.input-textfield {
  min-width: 180pt;
  min-height: 30pt;
  width: 30%;
  border: none;
  padding: 1%;
  text-align: center;

  font-size: 1.3em;
}

.button-primary {
  color: white;
  background-color: #F79F1A;
  border: none;
}

.rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.button-large {
  width: 30%;
  min-width: 180pt;
  min-height: 32pt;
  padding: 1%;

  font-size: 1.3em;
}

.button-medium {
  width: 20%;
  min-width: 150pt;
  min-height: 32pt;
  padding: 1%;

  font-size: 1.3em;
}

.button-extra-large {
  width: 100%;
  min-width: 180pt;
  min-height: 32pt;
  padding: 1%;
  margin: 5pt 0;

  font-size: 1.3em;
}

.nav-button {
  /*color: white;
  width: 120pt;
  padding: 7pt 15pt;
  font-size: 1.3em;*/
  color: white;
  min-width: 120pt;
  padding: 7pt 15pt;
  font-size: 1.3em;
  margin: 0 2pt;
  background-color: #FF5F01;
}

.input-error {
  border: 1px solid #EA001B;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 13px #FF697B;
}

.alert-text{
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

.alert{
  text-align: center;
  min-width: 30%;
  min-height: 50%;
  visibility: hidden;
  /*background-color: #EA001B;*/
}

.cell-container{
  margin-top: 70pt;
  overflow: auto
}

.cell-container img {
  display: block;
}

.cell-content {
  margin-left: 8pt;
}

.cell-icon {
  width: 17pt;
  float: left;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  align-content: center;
  /*margin: 0pt 20pt;*/
}

.show-alert{
  visibility: visible;
}

.button-primary:hover {
  background-color: #F57E23;
}

.nav-button:hover {
  background-color: #D64F00;
}
