<nav-bar-trans></nav-bar-trans>
<div class="wrap">
  <div class="wrapper">


    <h1>Create new LaunchPad</h1>

    <form [formGroup]="register_form" (ngSubmit)="signUp(register_form)">

      <div>
        <input [ngClass]="{'input-error': !register_form.controls['client'].valid && submitted}" type="text" [formControl]="register_form.controls['client']" placeholder="Client" class="center input-textfield rounded">
      </div>

      <div>
        <input [ngClass]="{'input-error': !register_form.controls['project'].valid && submitted}" type="text" [formControl]="register_form.controls['project']" placeholder="Project" class="center input-textfield rounded">
      </div>

      <div>
        <input [ngClass]="{'input-error': !register_form.controls['username'].valid && submitted}" type="text" [formControl]="register_form.controls['username']" placeholder="Username" class="center input-textfield rounded">
      </div>

      <div>
        <input [ngClass]="{'input-error': (!register_form.controls['password'].valid && submitted) || (register_form.controls['password'].valid && submitted && !isPasswordMatch())}" type="{{ !is_edit ? 'password' : 'text'}}" [formControl]="register_form.controls['password']" placeholder="Password" class="center input-textfield rounded">
      </div>

      <div *ngIf="!is_edit">
        <input [ngClass]="{'input-error': !register_form.controls['confirm'].valid && submitted && !isPasswordMatch()}" type="password" [formControl]="register_form.controls['confirm']" placeholder="Confirm Password" class="center input-textfield rounded">
      </div>

      <div *ngIf="!is_edit">
        <button class="button-primary button-large rounded center" type="submit">Create User</button>
      </div>

      <div *ngIf="is_edit" class="">
        <button (click)="editLaunchPad()" class="button-primary button-large rounded center" type="submit">Edit User</button>
      </div>

      <div [ngClass]="{'show-alert': error_message}" class="center alert cell-container flex-box">
          <img class="cell-icon" src="../../assets/img/error-icon.png">
          <p class="cell-content alert-text" [innerHtml]="error_message"></p>
        </div>

    </form>

    <div *ngIf="is_edit" class="">
      <button (click)="deleteLaunchPad()" class="button-alert button-large rounded center" type="submit">Delete LaunchPad</button>
    </div>

  </div>
</div>

<div id="bg">
  <img src="../../assets/img/backgrounds/register.jpg">
</div>