h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 20pt;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

.logo {
  width: 21%;
  min-width: 100pt;
  cursor: pointer;
}

.header-wrapper {
  margin: 0 2% 0 2%;
}

.right {
  float: right;
}

.logout {
  font-size: 1.6em;
  color: white;
}

.button-alert {
  background-color: #EA001B;
  border: none;
  color: white;
}

.button-alert:hover {
  background-color: #B00014;
  border: none;
  color: white;
}

.wrapper {
  margin-top: 100pt;
  margin-bottom: 80pt;
  margin: 50pt 35% 80pt 35%;
}

/*smartphones*/
@media screen and (min-device-width: 320px) and (max-device-width: 600px){
  .wrap {
    margin: 10px auto;
  }

  .wrapper {
    margin-top: 35%;
    margin-bottom: 5%;
    margin: 28% 3% 5% 3%;
  }

}

/*ipads*/
@media screen and (min-device-width: 768px) and (max-device-width: 1000px) {
  
  .wrapper {
    margin-top: 35%;
    margin-bottom: 5%;
    margin: 28% auto 5% ;
  }

  .wrap {
    margin: 50px auto;
  }

}