<div class="background">
  <div class="space"></div>
  <div class="wrapper">
    <div class="circle center">

      <div class="element">
        <h2>Thank You!</h2>
        <h3>Your forum has been submited.</h3>
        <div class="button-container">
          <button (click)="startForm()" class="rounded button-white button-primary button-large">Go Back</button>
          <button (click)="logout()" class="rounded button-white button-primary button-large">Log Out</button>
        </div>
      </div>

<!--       <div class="outer">
        <div class="middle">
          <div class="inner">

            <h1>The Content</h1>

            <p>Once upon a midnight dreary...</p>

          </div>
        </div>
      </div> -->

    </div>
  </div>

  <div class="clearfix">
    <img class="mc-logo" src="../../assets/img/logo.png">
    <div class="right">
        <img class="launchpad-logo" src="../../assets/img/launchpad-logo.png">
    </div>
  </div>
  <div class="space-bottom"></div>
</div>

<!-- <div class="x0">
  <div class="x1">
    <div class="x2"> 
      <div class="x4">
        <h2>Thank You!</h2>
        <h3>Your forum has been submited.</h3>
        <button class="rounded button-white button-primary button-large">Log Out</button>
        <button class="rounded button-white button-primary button-large">Go Back</button>
      </div>
    </div>
  </div>
</div> -->