<div class="wrap">

  <nav-bar-thanks></nav-bar-thanks>

  <div class="wrapper">
    <div class="circle center">

      <div class="element">
        <h2>Thank You!</h2>
        <h3>Your form has been submitted</h3>
        <div class="button-container">
          <button (click)="startForm()" class="rounded button-white button-primary button-large">Home</button>
          <button (click)="logout()" class="rounded button-white button-primary button-large">Log Out</button>
        </div>
      </div>

    </div>
  </div>
</div>


<div id="bg">
  <img src="../../assets/img/backgrounds/thankyou.jpg">
</div>