
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.wrap {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 90px auto 20pt;
    padding: 0px;
}


.wrapper {
  margin: 0;
  margin-bottom: 60pt;
}

h2 {
  color: white;
  font-size: 5em;
  margin-bottom: 0pt;
}

h3 {
  color: white;
  font-size: 1.3em;
  margin-top: 0;
}

/*.background {
  background: url('../../assets/img/backgrounds/thankyou.jpg') no-repeat center center;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding-bottom: 90pt;

}*/

.circle {
  border-radius: 50%;
  width: 500pt;
  height: 500pt;
  background-color: #F79F1A;
  text-align: center;
}

.center {
  margin: 0pt auto;
}

.button-white {
  border: 1pt solid white;
}

.space {
  height: 50pt;
}

.space-bottom {
  height: 25pt;
}

.text-content {
  margin: auto 0;
  width: 100%;
}


.element {
  height: auto;
  position: relative;
  top: 50%;
  transform:      translateY(-50%);

}

.button-container {
  margin: 40pt 0;
}

.launchpad-logo {
  width: 60%;
  float: right;
  padding-right: 20pt;
}

.right {
  float: right;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.mc-logo {
  width: 21%;
  padding-bottom: 10pt;
  margin-left: 20pt;
}

